.loginWrapper {
  height: 100%;
  background: #f0f2f5 url(@/assets/images/background.5825f033.svg) no-repeat 50%;
  :global {
    .login-wrapper-settings {
      padding: 12px 24px 12px 0;
      font-size: 18px;
      text-align: right;
    }
  }
}